<template>
  <slot v-bind="{ tags: value, removeTag, inputBindings }" />
</template>

<script>
import { ref, computed } from 'vue'

export default {
  props: ['value'],
  setup (props, { emit }) {
    const newTag = ref(''),
          isEmpty = computed(() => newTag.value.trim().length === 0),
          isDuplicate = computed(() => props.value.includes(newTag.value.trim())),
          onInput = event => (newTag.value = event.target.value),
          onKeydown = event => {
            if (event.key === 'Enter') {
              event.preventDefault()
              addTag()
            }
          },
          addTag = () => {
            if (!isEmpty.value && !isDuplicate.value) {
              emit('input', [...props.value, newTag.value.trim()])
              newTag.value = ''
            }
          },
          removeTag = tag => {
            emit('input', props.value.filter(t => t !== tag))
          },
          inputBindings = computed(() => ({
            value: newTag.value,
            onInput,
            onKeydown,
          }))
    
    return { removeTag, inputBindings }
  }
}
</script>
