<template>
  <h2>Parent component data:</h2>
  <pre><code>{{ tagsJson }}</code></pre>
  <h2>Renderless tags input:</h2>
  <TagsInput
    :value="tags"
    @input="onInput"
    v-slot="{ tags, removeTag, inputBindings }"
  >
    <div v-for="tag in tags">
      <span>{{ tag }}</span>
      <button
        type="button"
        @click="removeTag(tag)"
      >
        ×
      </button>
    </div>
    <input
      placeholder="Add tag..."
      v-bind="inputBindings"
    />
  </TagsInput>
</template>

<script>
import TagsInput from './components/TagsInput.vue'
import { ref, computed } from 'vue'

export default {
  name: 'App',
  components: {
    TagsInput
  },
  setup () {
    const tags = ref([]),
          onInput = newTags => (tags.value = newTags),
          tagsJson = computed(() => JSON.stringify(tags.value, null, 2))

    return {
      tags,
      onInput,
      tagsJson,
    }
  }
}
</script>
